table {
	border-collapse: collapse;
	border: 10px;
	border-color: black;
}
table th{
	text-align: center;
	background-color: #9c27b0;
	color: white;
	padding: 10px 20px;


}
table tr: nth-child(even) td{
	background-color: red;

}

table td{
	border: 10 px;
	border-color: black;
}

	